* {
    border: 1px dashed blue; 
  
  }

nav{
    display: flex;
    background-color: azure;
    justify-content: flex-end;
    
}

a{
    margin: 10px;
}
.patas{
    
  flex-wrap: wrap;
    
}

.post-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headers{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.header-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

