

nav{
    display: flex;
    background: linear-gradient(to bottom, #B1F888, #28C76F);
    justify-content: flex-end;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-style: italic;
}   
.patas{

    display: flex;
    text-decoration: dashed;
    justify-items: flex-start;
    font-size: x-large;
    color: #0e0909;
}


body{
    background: linear-gradient(to right,   #45418c, #43c6ac);
}

a{
    margin: 10px;
}


.post-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.headers{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.header-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
    border: 5px solid rgb(46, 43, 43);
    padding: 10px;
    border-radius: 20px;
    
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    display: flex;
    padding: 10px;
    justify-content:right;
    border: 2px solid #2b58ec;
    color: rgb(23, 26, 107);
    border-radius: 5px;
}
p{
    display: table;
    display: table-cell;
    font-size: large;
    text-align: center;

}

.cards{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}


.card img{
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium-img {
    display: flex;
    height: 150px;
    width: auto;
    justify-content: space-around;
    align-items: center;

}

.medium-img img{

    display: flex;
    height: 150px;
    width: auto;
    
}

.footer{
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;

}

.footer-left p{
    
    text-align: start;

}